// events.scss
// Variables
$events-header-height: 3rem;
$events-table-row-height: 3rem;
$events-flag-offset: 30px;
$events-column-width: (100% / 6);

// Betfair price styles
@mixin odds {
    // Layout
    position: relative;
    border-left: 5px solid white;

    // Element back odd
    &__back {

        // Layout
        left: 0;

        // Style
        background: $color-jordy-blue;
    }

    // Element lay odd
    &__lay {

        // Style
        background: $color-lavender-pink;
    }
    &__back, &__lay {

        // Layout
        display: inline-block;
        position: absolute;
        width: 50%;
        height: 100%;

        // Text
        color: $color-text-dark;
        font-weight: 600;

        // Style
        transition: background .5s ease-out;

        // Odd left border
        &:before {
            content: '';

            // Layout
            position: absolute;
            display: block;
            width: 1px;
            height: $events-table-row-height;

            // Style
            background: $color-alto;
        }

        // Price updates
        &--update {

            // Style
            background: $color-buttercup;
        }
    }
}

// Event table header styles
@mixin header-row {
    // Layout
    display: flex;
    height: $events-header-height;
    line-height: $events-header-height;
    padding-left: $events-flag-offset;

    // Header label
    &__cell {

        // Layout
        flex: 1;

        // Text
        @include ellipsis;
        text-align: center;
        //font-weight: 600;
        color: $color-buttercup;
        font-size: .8rem;
        text-transform: uppercase;
    }
}

// Event table row styles
@mixin body-row {
    // Layout
    display: flex;
    height: $events-table-row-height;
    line-height: $events-table-row-height;

    // Style
    border-top: 1px solid white;

    &:first-child {
        // Layout
        border-top: 0;
    }

    // Element table row cell
    &__cell {

        // Layout
        flex: 1;
        height: 100%;

        // Text
        @include ellipsis;
        color: $color-text-primary;
        text-align: center;
        font-weight: 300;

        // Text labels
        &__venue, &__market{

            // Text
            text-align: left;
        }

        // Element price odd
        &__odds {

            @include odds;
        }

        &:first-child {
            // Layout
            padding-left: $events-flag-offset;

            &:before  {
                content: '';

                // Layout
                position: absolute;
                display: block;
                width: $events-table-row-height / 2;
                height: $events-table-row-height / 2;
                margin-left: -1rem;
                transform: translate(0%, 25%);

                // Style
                border-radius: 50%;
                border: 4px double white;
            }
        }

        // Country flags
        @each $country, $bgcolor in $flags {

            &__flag--#{$country}:first-child:before {
                background: unquote($bgcolor);
            }
        }
    }
}

// Main block class
.events {

    // Layout
    width: 70%;
    margin: 20px auto;

    // Style
    box-shadow: $shadow-table;

    // Element table header
    &__header {

        &__row {
            @include header-row;
        }
    }

    // Element table body content
    &__body {

        // Text
        text-align: center;

        // Element table row
        &__row {

            @include body-row;
        }
    }
}
