// main.scss

// Load modules
@import 'reset';
@import 'utils';
@import 'theme';
@import 'events';

html {
    font-family: $font-family-primary;
}

// Disable text selection
div {
    user-select: none;
    cursor: default;
}
